﻿@model ABARROTES_CORE.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Prodid }) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
