﻿@model ABARROTES_CORE.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prodid" class="control-label"></label>
                <input asp-for="Prodid" class="form-control" readonly />
                <span asp-validation-for="Prodid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodname" class="control-label"></label>
                <input asp-for="Prodname" class="form-control" />
                <span asp-validation-for="Prodname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depar" class="control-label"></label>
                <input asp-for="Depar" class="form-control" />
                <span asp-validation-for="Depar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disc" class="control-label"></label>
                <input asp-for="Disc" class="form-control" />
                <span asp-validation-for="Disc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
