﻿@model IEnumerable<ABARROTES_CORE.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Catálogo de Productos</h1>

<p>
    <a asp-action="Create">Añadir Producto</a>
</p>
<form asp-action="Index" method="get">
    <p>
        <input type="search" placeholder="Ingresa Nombre del Producto" name="ClieSearch"
               value="@ViewData["GetProduct"]" style="width:400px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>
<table class="table" BackColor="LightBlue">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodname)
            </td>
            <td>
                <h6>$@Html.DisplayFor(modelItem => item.Price)</h6>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Prodid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Prodid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Prodid }, new { @class = "btn btn-success" })
            </td>
        </tr>
}
    </tbody>
</table>
