body {
    margin: 0;
    padding: 60px 0 0 0;
    background-color:#AFD0F5;
}

#page {
    margin: 0px auto;
    width: 100%;
}
.fixed-header{
        top: 0;
        width: 100%;
        position: fixed;
        background-color: #043063;
        padding:  15px 15px 0px 0px;
        font-size: 20px;
        color: #FFFFFF;
    }
.fixed-header{
    top: 0;
}
.container{
    width: 80%;
    margin: 50 auto; /* Center the DIV horizontally */
}
.bg-img {
  /* The image used */
  background-image: url("../tel.jpg");
  /* Control the height of the image */
  min-height: 380px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

form{
			background-color: #D1DBE7;
			border-radius: 3px;
			color:  black;
			font-size: 15px;
			padding: 20px;
			margin: 0 auto;
			width: 400px;
		}
input, textarea{
			border: 0;
			outline: none;
			width: 200px;
		}
		.field{
			border: solid 1px #ccc;
			padding: 10px;

		}
		.field:focus{
			border-color: #18A383;
		}
		.center-content{
			text-align: center;
		}
